.neck-material-ebony {
  background: url("../assets/guitar_neck_materials/ebony.webp");
}

.neck-material-maple {
  background: url("../assets/guitar_neck_materials/maple.webp");
}

.neck-material-rosewood {
  background: url("../assets/guitar_neck_materials/rosewood.webp");
}
